In [1]:
pip install pandas

Collecting pandas
  Downloading pandas-2.3.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.4.0-cp313-cp313-win_amd64.whl.metadata (6.6 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\itcs\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: tzdata>=2022.7 in c:\users\itcs\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\itcs\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp313-cp313-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ------- -------------------------------- 2.1/11.0 MB 11.6 MB/s eta 0:00:01
   ----------------- ---------------------- 4.7/11.0 MB 11.7 MB/s eta 0:00:01
   ------------------------- -------------- 7.1/11.0 MB 11.7 MB/s eta 0:00:01
   ---------------------------- ----------- 7.9/11.0 MB 11.7 MB/s eta 0:00:01
   ---------------------------------------  10.7/11.0 MB 10.4 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 10.1 MB/s  0:00:01
Downloading numpy-2.4.0-cp313-cp313-win_amd64.whl (12.3 MB)
   ---------------------------------------- 0.0/12.3 MB ? eta -:--:--
   ------- -------------------------------- 2.4/12.3 MB 11.4 MB/s eta 0:00:01
   --------------- ------------------------ 4.7/12.3 MB 11.5 MB/s eta 0:00:01
   ----------------------- ---------------- 7.3/12.3 MB 11.6 MB/s eta 0:00:01
   ------------------------- -------------- 7.9/12.3 MB 11.6 MB/s eta 0:00:01
   --------------------------------- ------ 10.2/12.3 MB 9.6 MB/s eta 0:00:01
   -------------------------------------- - 11.8/12.3 MB 9.2 MB/s eta 0:00:01
   ---------------------------------------- 12.3/12.3 MB 9.1 MB/s  0:00:01
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Installing collected packages: pytz, numpy, pandas

   ---------------------------------------- 0/3 [pytz]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   ---------------------------------------- 3/3 [pandas]

Successfully installed numpy-2.4.0 pandas-2.3.3 pytz-2025.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\itcs\appdata\local\programs\python\python313\lib\site-packages (3.10.8)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\itcs\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\itcs\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\itcs\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\itcs\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: numpy>=1.23 in c:\users\itcs\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (2.4.0)
Requirement already satisfied: packaging>=20.0 in c:\users\itcs\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\itcs\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (12.0.0)
Requirement already satisfied: pyparsing>=3 in c:\users\itcs\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\itcs\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\itcs\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
pip install seaborn

Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\itcs\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (2.4.0)
Requirement already satisfied: pandas>=1.2 in c:\users\itcs\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (2.3.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\itcs\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (3.10.8)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\itcs\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\itcs\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\itcs\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\itcs\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.9)
Requirement already satisfied: packaging>=20.0 in c:\users\itcs\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\itcs\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (12.0.0)
Requirement already satisfied: pyparsing>=3 in c:\users\itcs\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\itcs\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\itcs\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\itcs\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\itcs\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

# 3.2 series

In [8]:
import pandas as pd
s = pd.Series([10,20,30,40])
print(s)

0    10
1    20
2    30
3    40
dtype: int64

# 3.3 custome index in series

In [9]:
s = pd.Series([100, 200, 300], index= ['A', 'B', 'C'])
print(s)
print(s['B'])

A    100
B    200
C    300
dtype: int64
200

# 3.4 creating dataframe

In [20]:
df.to_csv('output.csv', index =False)

In [107]:

data ={
'Name':['Arya','Ravi', 'Meera'],
'Marks':[85,92,78],
'City': ['Pune', 'Delhi', 'Mumbai']}
df =pd.DataFrame(data)
print(df)

    Name  Marks    City
0   Arya     85    Pune
1   Ravi     92   Delhi
2  Meera     78  Mumbai

# 3.5 Reading and writing csv files

In [98]:
df=pd.read_csv('recharge_data.csv')
#pd.to_csv
df

,CustomerID,Name,Region,City,Plan,Amount,MonthlyUsage,Complaints,Recharged,Marks,Grade,Days_Since_Last_Recharge,Complaint_Type
0,101.0,Arya,Pune,Pune,Prepaid,250.0,320.0,Yes,Yes,85.0,A,12.0,Network Issue
1,102.0,Ravi,Delhi,Delhi,Postpaid,600.0,450.0,No,Yes,92.0,A+,8.0,Recharge Failed
2,103.0,Meera,Mumbai,Mumbai,Prepaid,150.0,210.0,No,No,78.0,B,45.0,Slow Internet
3,104.0,Kiran,Chennai,Chennai,Postpaid,450.0,500.0,Yes,Yes,88.0,A,3.0,SIM Not Working
4,105.0,Lina,Pune,Pune,Prepaid,300.0,330.0,No,Yes,90.0,A+,14.0,Network Issue
5,106.0,Soham,Delhi,Delhi,Prepaid,200.0,180.0,No,No,76.0,B,33.0,Billing Error
6,107.0,Riya,Kolkata,Kolkata,Postpaid,500.0,400.0,Yes,Yes,82.0,A,5.0,Network Issue
7,108.0,Rohan,Mumbai,Mumbai,Postpaid,400.0,390.0,No,Yes,87.0,A,25.0,Slow Internet
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 3.6 inspections

In [79]:
print(df.head()) #first 5 rows
print(df.tail(3)) #last 3 rows
print(df.tail()) # last 5 rows
print(df.info()) # col types & non null count
df.describe() #summary stats for numerical columns

   CustomerID   Name   Region     City      Plan  Amount  MonthlyUsage  \
0       101.0   Arya     Pune     Pune   Prepaid   250.0         320.0
1       102.0   Ravi    Delhi    Delhi  Postpaid   600.0         450.0
2       103.0  Meera   Mumbai   Mumbai   Prepaid   150.0         210.0
3       104.0  Kiran  Chennai  Chennai  Postpaid   450.0         500.0
4       105.0   Lina     Pune     Pune   Prepaid   300.0         330.0

  Complaints Recharged  Marks Grade  Days_Since_Last_Recharge   Complaint_Type
0        Yes       Yes   85.0     A                      12.0    Network Issue
1         No       Yes   92.0    A+                       8.0  Recharge Failed
2         No        No   78.0     B                      45.0    Slow Internet
3        Yes       Yes   88.0     A                       3.0  SIM Not Working
4         No       Yes   90.0    A+                      14.0    Network Issue
    CustomerID Name Region City Plan  Amount  MonthlyUsage Complaints  \
16         NaN  NaN    NaN  NaN  NaN     NaN           NaN        NaN
17         NaN  NaN    NaN  NaN  NaN     NaN           NaN        NaN
18         NaN  NaN    NaN  NaN  NaN     NaN           NaN        NaN

   Recharged  Marks Grade  Days_Since_Last_Recharge Complaint_Type
16       NaN    NaN   NaN                       NaN            NaN
17       NaN    NaN   NaN                       NaN            NaN
18       NaN    NaN   NaN                       NaN            NaN
    CustomerID Name Region City Plan  Amount  MonthlyUsage Complaints  \
14         NaN  NaN    NaN  NaN  NaN     NaN           NaN        NaN
15         NaN  NaN    NaN  NaN  NaN     NaN           NaN        NaN
16         NaN  NaN    NaN  NaN  NaN     NaN           NaN        NaN
17         NaN  NaN    NaN  NaN  NaN     NaN           NaN        NaN
18         NaN  NaN    NaN  NaN  NaN     NaN           NaN        NaN

   Recharged  Marks Grade  Days_Since_Last_Recharge Complaint_Type
14       NaN    NaN   NaN                       NaN            NaN
15       NaN    NaN   NaN                       NaN            NaN
16       NaN    NaN   NaN                       NaN            NaN
17       NaN    NaN   NaN                       NaN            NaN
18       NaN    NaN   NaN                       NaN            NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CustomerID                8 non-null      float64
 1   Name                      8 non-null      object
 2   Region                    8 non-null      object
 3   City                      8 non-null      object
 4   Plan                      8 non-null      object
 5   Amount                    8 non-null      float64
 6   MonthlyUsage              8 non-null      float64
 7   Complaints                8 non-null      object
 8   Recharged                 8 non-null      object
 9   Marks                     8 non-null      float64
 10  Grade                     8 non-null      object
 11  Days_Since_Last_Recharge  8 non-null      float64
 12  Complaint_Type            8 non-null      object
dtypes: float64(5), object(8)
memory usage: 2.1+ KB
None

,CustomerID,Amount,MonthlyUsage,Marks,Days_Since_Last_Recharge
count,8.00000,8.000000,8.000000,8.000000,8.000000
mean,104.50000,356.250000,347.500000,84.750000,18.125000
std,2.44949,156.838179,111.066261,5.675763,14.875075
min,101.00000,150.000000,180.000000,76.000000,3.000000
25%,102.75000,237.500000,292.500000,81.000000,7.250000
50%,104.50000,350.000000,360.000000,86.000000,13.000000
75%,106.25000,462.500000,412.500000,88.500000,27.000000
max,108.00000,600.000000,500.000000,92.000000,45.000000

# 3.7 selecting cols and row

In [80]:
#df['Name'] #single column as Series
#df[['Name', 'City']]# multiple columns
print(df.loc[1]) #row by Label (index 1)
df.iloc[0:2] # first two rows by position

CustomerID                            102.0
Name                                   Ravi
Region                                Delhi
City                                  Delhi
Plan                               Postpaid
Amount                                600.0
MonthlyUsage                          450.0
Complaints                               No
Recharged                               Yes
Marks                                  92.0
Grade                                    A+
Days_Since_Last_Recharge                8.0
Complaint_Type              Recharge Failed
Name: 1, dtype: object

,CustomerID,Name,Region,City,Plan,Amount,MonthlyUsage,Complaints,Recharged,Marks,Grade,Days_Since_Last_Recharge,Complaint_Type
0,101.0,Arya,Pune,Pune,Prepaid,250.0,320.0,Yes,Yes,85.0,A,12.0,Network Issue
1,102.0,Ravi,Delhi,Delhi,Postpaid,600.0,450.0,No,Yes,92.0,A+,8.0,Recharge Failed

# 3.8 Conditional Filtering

In [33]:
df [df ['Amount'] > 250]

,CustomerID,Name,Region,City,Plan,Amount,MonthlyUsage,Complaints,Recharged,Marks,Grade,Days_Since_Last_Recharge,Complaint_Type
1,102.0,Ravi,Delhi,Delhi,Postpaid,600.0,450.0,No,Yes,92.0,A+,8.0,Recharge Failed
3,104.0,Kiran,Chennai,Chennai,Postpaid,450.0,500.0,Yes,Yes,88.0,A,3.0,SIM Not Working
4,105.0,Lina,Pune,Pune,Prepaid,300.0,330.0,No,Yes,90.0,A+,14.0,Network Issue
6,107.0,Riya,Kolkata,Kolkata,Postpaid,500.0,400.0,Yes,Yes,82.0,A,5.0,Network Issue
7,108.0,Rohan,Mumbai,Mumbai,Postpaid,400.0,390.0,No,Yes,87.0,A,25.0,Slow Internet

In [38]:
df[(df['City']=='Mumbai') & (df [ 'Amount']>250)]

,CustomerID,Name,Region,City,Plan,Amount,MonthlyUsage,Complaints,Recharged,Marks,Grade,Days_Since_Last_Recharge,Complaint_Type
7,108.0,Rohan,Mumbai,Mumbai,Postpaid,400.0,390.0,No,Yes,87.0,A,25.0,Slow Internet

# 3.9 Adding and deleting data

In [46]:
df1=df.copy()
print(df1)

    Name  Marks    City
0   Arya     85    Pune
1   Ravi     92   Delhi
2  Meera     78  Mumbai

In [58]:

df1['Grades'] = (['A', 'A+','B'])

df1

    Name  Marks    City Grades
0   Arya     85    Pune      A
1   Ravi     92   Delhi     A+
2  Meera     78  Mumbai      B

In [59]:

del df1['Grades']
print(df1)

    Name  Marks    City
0   Arya     85    Pune
1   Ravi     92   Delhi
2  Meera     78  Mumbai


# 3.10 Renaming Columns

In [68]:
df1.rename(columns={'Marks': 'Score'}, inplace=True)
print(df1)

    Name  Score    City
0   Arya     85    Pune
1   Ravi     92   Delhi
2  Meera     78  Mumbai


# 3.11 Sorting Data

In [69]:
df.sort_values (by='Score', ascending=False)

    Name  Score    City
1   Ravi     92   Delhi
0   Arya     85    Pune
2  Meera     78  Mumbai

# 3.12  Handling missing data

In [97]:
df.isnull()# checks missing values (True/False)

,CustomerID,Name,Region,City,Plan,Amount,MonthlyUsage,Complaints,Recharged,Marks,Grade,Days_Since_Last_Recharge,Complaint_Type
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False

In [96]:
# df.dropna(inplace=True)# remove rows with missing values

In [102]:
df.fillna(0,inplace=False)  # false=temprerary change ,true=permenent change

,CustomerID,Name,Region,City,Plan,Amount,MonthlyUsage,Complaints,Recharged,Marks,Grade,Days_Since_Last_Recharge,Complaint_Type
0,101.0,Arya,Pune,Pune,Prepaid,250.0,320.0,Yes,Yes,85.0,A,12.0,Network Issue
1,102.0,Ravi,Delhi,Delhi,Postpaid,600.0,450.0,No,Yes,92.0,A+,8.0,Recharge Failed
2,103.0,Meera,Mumbai,Mumbai,Prepaid,150.0,210.0,No,No,78.0,B,45.0,Slow Internet
3,104.0,Kiran,Chennai,Chennai,Postpaid,450.0,500.0,Yes,Yes,88.0,A,3.0,SIM Not Working
4,105.0,Lina,Pune,Pune,Prepaid,300.0,330.0,No,Yes,90.0,A+,14.0,Network Issue
5,106.0,Soham,Delhi,Delhi,Prepaid,200.0,180.0,No,No,76.0,B,33.0,Billing Error
6,107.0,Riya,Kolkata,Kolkata,Postpaid,500.0,400.0,Yes,Yes,82.0,A,5.0,Network Issue
7,108.0,Rohan,Mumbai,Mumbai,Postpaid,400.0,390.0,No,Yes,87.0,A,25.0,Slow Internet
8,0.0,0,0,0,0,0.0,0.0,0,0,0.0,0,0.0,0
9,0.0,0,0,0,0,0.0,0.0,0,0,0.0,0,0.0,0
10,0.0,0,0,0,0,0.0,0.0,0,0,0.0,0,0.0,0
11,0.0,0,0,0,0,0.0,0.0,0,0,0.0,0,0.0,0
12,0.0,0,0,0,0,0.0,0.0,0,0,0.0,0,0.0,0
13,0.0,0,0,0,0,0.0,0.0,0,0,0.0,0,0.0,0
14,0.0,0,0,0,0,0.0,0.0,0,0,0.0,0,0.0,0
15,0.0,0,0,0,0,0.0,0.0,0,0,0.0,0,0.0,0
16,0.0,0,0,0,0,0.0,0.0,0,0,0.0,0,0.0,0
17,0.0,0,0,0,0,0.0,0.0,0,0,0.0,0,0.0,0
18,0.0,0,0,0,0,0.0,0.0,0,0,0.0,0,0.0,0

# replacing value

In [109]:
df['Grade'].replace('A+','Outstanding',inplace=True)

KeyError: 'Grade'